<%= form_with model: @user do |form| %>

  <% if false %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>


  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, placeholder: "address@domain.com"%>
  </div>
  <div>
    <%= form.label :username, "Desired username" %><br>
    <%= form.text_field :username, value: "odin" %>
  </div>
  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
