<ul>
  <% @posts.each do |post| %>
    <li>
        <% if current_user %>
            <div>
              <%= User.find(post.user_id).username %>
            </div>
        <% end %>

        <div>
          <%= post.title %>
        </div>
        <div>
          <%= post.body %>
        </div>
    </li>
  <% end %>
</ul>

<% if current_user %>
    <%= button_to "Create Post", new_post_url, method: :get %><br />
    <%= button_to "Sign out", destroy_user_session_url, method: :delete %>
<% end %>

<% unless current_user %>
    <%= link_to "Sign in", new_user_session_url %>
<% end %>

